<?xml version="1.0" encoding="utf-8"?>
<UserConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <KeyboardShortcuts />
  <HasBeenRun>true</HasBeenRun>
  <FirstRunDate>2024-09-20T08:39:11.9792097+02:00</FirstRunDate>
  <Version>3</Version>
  <FormStates>
    <FormState>
      <Name>GtkPreviewForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>2556</Width>
        <Height>566</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ChooseDeviceForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>2556</Width>
        <Height>256</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>PageSizeForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>2556</Width>
        <Height>256</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>AdvancedProfileForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>2556</Width>
        <Height>526</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>EditProfileForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>2556</Width>
        <Height>559</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ProfilesForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>2556</Width>
        <Height>345</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ErrorForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>1436</Width>
        <Height>396</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>GtkDesktopForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>1436</Width>
        <Height>694</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
  </FormStates>
  <PdfSettings>
    <Metadata />
    <Encryption />
  </PdfSettings>
</UserConfig>